# ==================== SearXNG ====================
SEARXNG_HOSTNAME=http://localhost
# LETSENCRYPT_EMAIL=your@email.com

# ==================== Sandbox ====================
HOST_PORT=10087
CDP_PORT=9222
# PROXY_SERVER=
# JWT_PUBLIC_KEY=
# WORKSPACE=/home/gem
# HOMEPAGE=
# TZ=Asia/Singapore
